* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Open Sans", serif;
}

/*font-family: "Playfair Display", serif;*/
/*font-family: "Open Sans", serif;*/

.heading {
    font-family: "Playfair Display", serif;
}

body {
    height: 8000px;
}

/*Breakpoints*/
/*1920px + */
/*1680px + */
/*1440px + */
/*1280px + */
/*1168px + */
/*1024px*/
/*768px*/
/*576px*/
/*365px*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 40px;
}

@media (min-width: 1680px) {
    .container {
        width: 1400px;
    }
}

@media (max-width: 1680px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1440px) {
    .container {
        width: 1100px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 1168px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: auto;
        padding-inline: 50px;
    }
}

@media (max-width: 1024px) {
    nav {
        display: none;
    }
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 36px;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2F2E41;
}

.header-actions {
    display: flex;
    gap: 16px;
}

@media (max-width: 1024px) {
    .header-actions {
        display: none;
    }
}

.action-btn {
    border-radius: 2px;
    cursor: pointer;
    padding: 16px 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.login-btn {
    border: 1px solid #6C63FF;
    background-color: transparent;
    color: #6C63FF;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
}

.signup-btn {
    background-color: #6C63FF;
    color: #FFFFFF;
    transition: 0.3s;
    border: 1px solid transparent;
    width: fit-content;
}

.signup-btn:hover {
    background-color: transparent;
    border: 1px solid #6C63FF;
    color: #6C63FF;
}

.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #6C63FF;
    border-radius: 1px;
}

@media (max-width: 1024px) {
    .burger-menu {
        display: flex;
    }
}

.hero-section {
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    gap: 30px;
}

@media (max-width: 1024px) {
    .hero-section {
        gap: 30px;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .hero-section {
        gap: 60px;
    }
}

@media (max-width: 1440px) {
    .hero-image {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .hero-image {
        width: 100%;
    }
}

.hero-title {
    font-weight: 700;
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #2F2E41;
    max-width: 490px;
}

@media (max-width: 1440px) {
    .hero-title {
        font-size: 70px;
        max-width: 400px;
    }
}

@media (max-width: 1024px) {
    .hero-title {
        font-size: 90px;
        max-width: none;
        line-height: 100px;
    }
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 60px;
        line-height: 70px;
    }
}

.hero-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
    max-width: 490px;
}

@media (max-width: 1024px) {
    .hero-description {
        max-width: none;
    }
}

.testimonials-section {
    margin-top: 48px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.testimonials-wrapper {
    display: flex;
    gap: 102px;
}

@media (max-width: 1024px) {
    .testimonials-wrapper {
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .testimonials-wrapper {
        display: none;
    }
}

.testimonials-wrapper-mobile {
    display: none;
    margin-top: 100px;
}

@media (max-width: 768px) {
    .testimonials-wrapper-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

.testimonials-wrapper-mobile .row {
    display: flex;
    gap: 30px;
}

@media (max-width: 768px) {
    .testimonials-wrapper-mobile .row {
        gap: 15px;
    }
}
